# SecureTransport RemoteAntivirus Server Configuration File
# 
# This file is used by the application's Sysv Init Script to determine the port the service should bind to
# and to determine the IP addresses that should be allowed to connect to the service
# 
# Configuration information is specified in key value paris e.g. key=value (no spaces between the key and value)
# At present this configuration file only uses the port and allowedaddresses keys, this is because although the application
# supports a --host field the stop script is hardcoded to attempt to shutdown the service on the loopback address even if the --host switch was specified.
# The --host switch forces the service to bind to a specific interface 
#

port=8080
allowedaddresses=192.168.0.1
